<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>Sign Up</title>
</head>
<div class="Box-cont">
  <div class="row">
    <div class="Box">
        <%= image_tag "logo.png", class:"Logo-image" %> 
        <h2><B>Sign Up Form </B></h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
            <%= f.label :full_name, class:"field-label"%><br>
            </div>
            <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class: "field" %><br>

          <div class="form-group">
            <%= f.label :Display_name, class:"field-label" %><br>
            </div>
            <%= f.text_field :display_name, autofocus: true, autocomplete: "display_name" , class:"field"%><br>

            <div class="form-group">
            <%= f.label :email, class:"field-label" %><br>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"field" %><br>

            <div class="form-group">
            <%= f.label :password, class:"field-label" %>
            </div>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br>
            <%= f.password_field :password, autocomplete: "new-password", class:"field" %><br>

            <div class="form-group">
            <%= f.label :password_confirmation, class:"field-label" %><br>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"field"%><br>


            <%= f.submit "Sign up", class:"Submit-button"%><br>
            <%= render "devise/shared/links" %>
        <% end %>
        </div>
   </div>
 </div>
</body>
</html>


