<!DOCTYPE html>
<html lang = "en">
<head>
 <%= stylesheet_link_tag 'items', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="B-container">
    <div class="row">
        <%= render "layouts/flash_message" %>
        <div class = "t-box">
            <table class="table1">
                <thead>
                    <tr>
                        <th class="n">Order ID</th>
                        <th class="n">Status</th>
                        <th class="n">Order Detail</th>
                        <th class="n">
                        <a class="bu dropdown-toggle" role="button" data-toggle="dropdown">Filtered Status</a>
                        <div class="dropdown-menu table table-hover">
                            <% @status.each do |s| %>
                            <%= link_to s, admin_orders_path(status: s), class: 'dropdown-item' %>
                            <% end %>
                        </div>
                        </th>
                    </tr>
                </thead>
                <% @orders.each do |order| %>
                <tbody>
                    <tr>
                        <td><%= order.id %></td>
                        <td><%= order.status %></td>
                        <td><%= link_to "Order Detail",admin_order_path(order),class:"btn btn-outline-primary" %></td>
                        <td>
                        <% if order.status == "ordered" %>
                            <%= link_to "Mark as paid",paid_order_admin_order_path(order), class:"btn btn-success cancel" %><br><br>
                            <%= link_to "Cancel",cancel_order_admin_order_path(order), class:"btn btn-danger cancel" %>
                        <% elsif order.status == "paid" %>
                            <%= link_to "Mark as Completed",complete_order_admin_order_path(order), class:"btn btn-success" %><br><br>
                            <%= link_to "Cancel",cancel_order_admin_order_path(order), class:"btn btn-danger cancel" %>
                        <% end %>
                        </td>
                    </tr>
                </tbody>
                <% end %>
            </table>
        </div>
    </div>
</div>                    
</body>
</html>
