<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag 'carts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'carts', 'data-turbolinks-track': 'reload' %> 
</head>
<body>
<div class="Box-container">
  <div class="row">
    <%= render "layouts/flash_message" %>
    <% if @cart_items.any? %>
        <table class="table">
            <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
           <% (@cart_items || []).each do |cart_item| %>
              <tr>
                <td><%= cart_item.item.title if cart_item.item %></td>
                <td>
                <% if user_signed_in? %>
                  <%= form_tag(cart_item_path(cart_item.id), method: :put, remote: true, class: 'update-cart-item-form') do %>
                    <%= number_field_tag "cart_item[quantity]", cart_item.quantity, min: 1 %>
                    <%= hidden_field_tag "cart_item[item_id]", cart_item.item.id %>
                    <%= submit_tag "Update", class: "button btn-sm" %>
                  <% end %>
                <% else %>
                  <%= cart_item.quantity %>
                <% end %>
                </td>
                <td>$<%= cart_item.item.price if cart_item.item %></td>
                <td>$<%= cart_item.item.price * cart_item.quantity if cart_item.item %></td>
                <td>
                <% if user_signed_in? %>
                  <%= button_to 'Remove', cart_item_path(cart_item), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
                <% else %>
                  <%= button_to 'Remove', cart_item_path(cart_item.item.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
                <% end %>
                </td>
              </tr>
            <% end %>
    </tbody>
  </table>

    <h3>Total: $<%= @cart_items.sum { |item| item.item.price * item.quantity } %></h3>
       <%= link_to 'Confirm Order',checkout_cart_items_path, class: 'button' %>
    <% else %>
      <p>Your cart is empty.</p>
    <% end %>
  </div>
</div>










