<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'items', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="B-container">
  <div class="row">
    <%= render "layouts/flash_message" %>
    <% @item.each_with_index do |item, index| %>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
            <% if item.image.attached? %>
              <%= image_tag(item.image, class: "card-img-top") %> 
            <% else %>
              <%= image_tag("Food.jpeg", class: "card-img-top") %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= item.title %></h5>
              <p class="card-text"><%= item.description %></p>
              <p class="card-text">$<%= item.price %></p>
              <div class="form-group">
                <%= form_with(url: cart_items_path, method: :post, local: true) do |f| %>
                  <%= f.fields_for :cart_item do |c| %>
                    <%= c.hidden_field :item_id, value: item.id %>
                    <%= c.number_field :quantity, value: 1, min: 1, class: "number-field" %>
                    <%= c.submit "Add to Cart", class: "button" %>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</body>
</html>
