<!DOCTYPE html>
<html lang = "en">
<head>
 <%= stylesheet_link_tag 'items', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="Box-container">
    <%= render "layouts/flash_message" %>
    <table class="table1 c">
        <thead>
            <tr>
                <th class="n">Name</th>
                <th class="bu"><%= link_to new_admin_category_path, class: "btn btn-primary" do %><i class="fas fa-plus"></i><% end %></th>
            </tr>
        </thead>
        <% @categories.each do |category| %>
        <tbody>
            <tr>
                <td><%= image_tag "Food.jpeg", style:"width:20%;height:auto;border-radius:10px" %>  <%= category.name %></td>
                <td> 
                <%= button_to admin_category_path(category), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %><i class="fas fa-trash-alt"></i><% end %><br>
                <%= link_to edit_admin_category_path(category), class: "btn btn-dark" do %><i class="fas fa-edit"></i><% end %>
                </td>
            </tr>
        </tbody>
        <% end %>
    </table>
</div>                    
</body>
</html>




  

 