<!DOCTYPE html>
<html>
<head>
  <title>DinnerDash</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <% if current_user&.admin? %>
    <%= render "shared/adminNav" %>
  <% else %>
    <%= render "shared/navbar" %>
  <% end %>
    <%= yield %>
</body>
</html>

